.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    text-decoration: none;
}

.logo {
    color: $accent-color;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $primary-text-darkbackground-color;
    background-color: $accent-color;
    border-radius: 4px;
    border: none;
    transition: background-color $time-period $timing-function;

    &:hover,
    &:focus {
        background-color: $button-hover-accent-color;
        cursor: pointer;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $primary-icons-color;

    transition: background-color $time-period $timing-function, color $time-period $timing-function;

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $primary-text-darkbackground-color;
    }
}

.social-icon {
    fill: currentColor;
}